{% load static %}
<html>
    <head>
        <title>Customer</title>
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="{% static 'home/anvi.css' %}">
    
            <nav>
                <div class="container">
                <ul>
                    
                    <li class="logo">..Curated Cuisines..</li>
                    <li><a href="#" class="active">HOME  </a></li>
                    <li><a href="cust_menu.php">MENU  </a></li>
                    <li><a href="Placing_order.php">PLACE ORDER  </a></li>
                    <li><a href="#contact">CONTACT US  </a></li>
                    <li><a href="#about">ABOUT US  </a></li>
                    
                </ul>
                </div>   
            </nav>
        <div class="container">
            <div class="start">
                <h1 id="home">WELCOME TO CURATED CUISINES</h1>
                <p>if you're looking for a place that listens to all,serves to all , delivers to all then you are at the right place.we have the best sevices , the best food and the best environment.<br>
                a place that is established on the principal of providing for all</p>
            </div>
        
        <a href="cust_menu.php" class="btn" >PROCEED TO MENU</a><br>
        <a href="../index.php" class="btn2">GO BACK TO FRONT PAGE</a>
            <div class="about">
            <h2 align="center" id="about">ABOUT US</h2>
            <h4 align="center">...You Dream We Create...</h4>
               <div class="text">
                <h2 class="mb-4">OUR TEAM</h2>
                <p>Teamwork and Hardwork are the key to success...</p>
               </div>
                <div class="leader">
                    <img src="../images/leader.jpg" class="profile">
                    <h2>Anvi Jain</h2>
                </div>
                <div class="row">
                    <div class="staff">
      				<div class="info ">
                        <img src="../images/atharva.jpg" class="profile">
      					<h3>Atharva Parihar</h3>
                        </div>   
                    </div>
                    <div class="staff">
      				<div class="info ">
                        <img src="../images/jatin.jpg" class="profile">
      					<h3>Jatin Rawat</h3>
                        </div>   
                    </div> 
                    <div class="staff">
      				<div class="info ">
                        <img src="../images/ashwin.jpg" class="profile">
      					<h3>Ashwin Khale</h3>
                        </div>   
                    </div>
                    <div class="staff">
      				<div class="info ">
                        <img src="../images/aman.jpg" class="profile">
      					<h3>Aman Khubani</h3>
                        </div>   
                    </div> 
                    <div class="staff">
      				<div class="info ">
                        <img src="../images/khushi.jpg" class="profile">
      					<h3>Khushi Gupta</h3>
                        </div>   
                    </div>
                    <div class="staff">
      				<div class="info ">
                        <img src="../images/harsh.jpg" class="profile">
      					<h3>Harsh Tiwari</h3>
                        </div>   
                    </div>
                </div>
                </div>
        </div>
	    		<div class="contact container-wrap" id="contact">
	    			<h3 class="mb-3">Contact Us</h3>
	    			<form action="#home" method="post"  >
	    				<div class="d-md-flex">
		    				<div class="form-group">
		    					<input type="text" class="form-control" placeholder="First Name">
		    				</div>
	    				</div>
	    				
	    					<div class="form-group">
		    					<input type="text" class="form-control" placeholder="Last Name">
		    				</div>
	    				<div class="form-group">
	              <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Opinion"></textarea>
	            </div>
	            <div class="form-group">
	              <input type="submit" value="Send" class="btns btn-primary py-3 px-4">
	            </div>
	    			</form>
	    		</div>     
           
            <div class="declare-me">
           <p> Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Website was Developed and Designed by ANVI JAIN and Group</p>
            </div>
    </body>
</html>